#heading{
    font-family: 'Bebas Neue', cursive;
    font-size:55px;
}
#sect1text{
    color:rgb(0, 0, 0);
    font-family:'Montserrat', sans-serif;
    font-size:12px;
}
#sect1{
    background-color:cyan;
    border:0.5px solid black;
    border-radius:50px;
    width:300px;
    height:50px;
}
#sect1:hover{
    background-color:dodgerblue;
    cursor:pointer;
}
canvas{
    border:0.5px solid black;
}